
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brand {
  width: 50%;
}

.brand img {
  width: 50px;
}

.navbar {
  -webkit-box-shadow: 0 0 20px #00000020;
          box-shadow: 0 0 20px #00000020;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 10px 0;
}

.nav-scroll {
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 0 15px #00000020;
          box-shadow: 0 0 15px #00000020;
  z-index: 1000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-scroll .menu-icon {
  color: #9c2bd1;
}

.navbar-toggler {
  border: none !important;
  transition: 0.2s;
}

.navbar-toggler:focus{
  box-shadow: none;
}

.navbar-toggler:active{
  text-shadow: 0 0 15px #b9b2b2 !important;
}

.active {
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
          font-weight: bolder !important;
          text-shadow: 0 0 15px #b9b2b2 !important;
}

.nav-link {
  margin-left: 20px;
  transition: 0.3s;
}

.nav-link:hover{
  font-weight: bolder !important;
  text-shadow: 0 0 15px #b9b2b2 !important
}



.home {
  background-image: url(../_theme/Bg-Shape.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right;
  background-position-y: top;
}

.home-content {
  margin-top: 100px;
  width: 100%;
  margin-left: 0;
}

.mouse {
  width: 50px;
  height: 50px;
  margin: auto;
  text-align: center;
  line-height: 50px;
}

.vertical-icons {
  position: absolute;
  left: 10%;
  bottom: 50px;
  width: 50px;
}

.vertical-icons a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.vertical-icons a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.about {
  background-image: url(../_data/bg-2.svg);
  background-position: right;
}

.services {
  background-image: url(../_data/bg-3.svg);
}

.service-card {
  border-radius: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.service-card-para {
  height: 220px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.service-card:hover {
  -webkit-box-shadow: 0 0 15px #b9b2b2 !important;
          box-shadow: 0 0 15px #b9b2b2 !important;
}

.service-card img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.service-card:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.prices-card .prices-card-2 {
  height: 450px !important;
}

.prices-btn {
  -webkit-transition: ease-out 0.6s;
  transition: ease-out 0.6s;
  -webkit-box-shadow: inset 0 0 0 0 #9c2bd1;
          box-shadow: inset 0 0 0 0 #9c2bd1;
}

.prices-btn:hover {
  -webkit-box-shadow: inset 300px 0 0 0 #9c2bd1;
          box-shadow: inset 300px 0 0 0 #9c2bd1;
  color: white;
}

.slick-dots li {
  width: 10px !important;
  height: 10px !important;
  background-color: transparent;
  border: 2px solid #9c2bd1;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slick-dots li.slick-active {
  background-color: #9c2bd1 !important;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slick-dots button::before {
  display: none;
}

.footer {
  background-image: url(../_data/Asset.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.contact-two {
  position: absolute;
  bottom: 40px;
}

.contact-link a {
  text-decoration: none;
}

.contact-table td {
  width: 120px;
}

@media screen and (max-width: 992px) {
  .nav-link {
    border-radius: 20px;
    padding: 10px 15px !important;
    -webkit-box-shadow: 0 0 10px #00000020;
            box-shadow: 0 0 10px #00000020;
    margin: 5px;
  }
 
  .contact-two {
    left: 10px;
    bottom: 0px;
  }
}

@media screen and (max-width: 576px) {
  .home-text {
    width: 220px;
  }
}
/*# sourceMappingURL=style.css.map */



/* services */

.bg-image{
  background-image: url("../_data/bg-3.svg");
}

.service-img{
  box-shadow:inset 0 0 15px #fdf7f7 !important;
  border-radius: 50%;
}

.service-fixed-img{
  background-image: url("../_data//multiracial-group-asia-young-creative-people-smart-casual-wear-discussing-business-clapping-laughing-smiling-together-brainstorm-meeting-office-coworker-teamwork-successful-concept.jpg");
  height: 400px;
  filter:brightness(0.7);
  box-shadow: inset 0 10px 10px #00000050;
  background-attachment: fixed;
  background-size: cover;
}

/* animation delay */
.delay1{
  animation-delay: 0.3s;
}

.delay2{
  animation-delay: 0.6s;
}

.delay3{
  animation-delay: 0.9s;
}

.delay4{
  animation-delay: 0.12s;
}